h1.title {
  text-align: center;
}

.content {
  margin-top: 60px;
}

.destroy {
  display: inline;
}

.destroy > input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #007bff;
}

.destroy:hover > input[type="submit"] {
  text-decoration: underline;
}

.container,
.flash {
  margin-top: 60px;
}

.nav-destroy > input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0.5rem 0.5rem;
}

.nav-destroy:hover > input[type="submit"] {
  color: rgba(255, 255, 255, 0.7);
}
